<div class="participant-input-container">
    <h2>Add Participants</h2>
    <input
    type="text"
    placeholder="Name"
    [(ngModel)]="name"
    />

    <input
    type="text"
    placeholder="First letter of last name"
    maxlength="1"
    [(ngModel)]="lastNameLetter"
    />
    <input
    type="text"
    placeholder="Nickname"
    [(ngModel)]="nickname"
    />
    <button (click)="addParticipant()">Add Participant</button>

    <div *ngIf="participants.length > 0 " class="participant-list">
        <h3>Participants:</h3>
    <div *ngFor="let participant of participants" class="participant-card">
        <h4>{{ participant.name }} ({{ participant.lastNameLetter }})</h4>
        <p> Nickname: {{ participant.nickname }}</p>
    </div>
</div>

<button *ngIf="participants.length > 0" (click)="finishList()"> Finish List</button>
</div>




