<div class="participant-input-container">
    <div class="form-section">
    <h2>Add Participants</h2>
  <input
    type="text"
    placeholder="Name"
    [(ngModel)]="name"
    />

    <input
    type="text"
    placeholder="First letter of last name"
    maxlength="1"
    [(ngModel)]="lastNameLetter"
    />
    <input
    type="text"
    placeholder="Nickname"
    [(ngModel)]="nickname"
    />
    <button (click)="addParticipant()">Add Participant</button>
    </div>
    <p *ngIf="duplicateParticipantError" class="error-message">
      This participant already exists!
    </p>

    <div class="list-section">
        <h3>Participants:</h3>
        <div *ngIf="participants.length > 0 " class="participant-list">
            <div *ngFor="let participant of participants; let i = index" class="participant-card">
                <div class="card-header">
                <h4>{{ participant.name }} {{ participant.lastNameLetter }} ({{ participant.nickname }})</h4>
              <button class="remove-btn" (click)="removeParticipant(i)">x</button>
            </div>
        </div>
    </div>

    <button *ngIf="participants.length > 0" (click)="finishList()"> Finish List</button>
  </div>
</div>




